/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 243, 243);
}

/* Header and Nav Bar */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0rem;
    padding: .5rem 0 .5rem 0;
    background-color: rgb(48, 48, 59);
    color: rgb(96, 169, 211);
}

.header h1 {
    display: inline-block;
    font-size: 2.5rem;
    padding: .25rem 1rem .25rem 3rem; 
    background-color: rgb(96, 169, 211);
    color: rgb(48, 48, 59);
}

.header nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
} 

.header nav li {
    float: right; 
    font-size: 1.25rem;
    margin-right: .75rem;
    padding-right: .75rem;
}


.header a {
    color: rgb(96, 169, 211);
}

/* Hero image */

.hero img {
    height: 12rem;
    width: 100%;
}

/* Body of the website */   

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 3rem 0 3rem 0;

}

.content h2 {
    /* display: inline-block; */
    flex: 1 0 25%;
    font-size: 2.5rem;
    border-right: solid black;
    text-align: end;
    padding-right: 2rem;
}

.content p {
    flex: 1 0 75%;
    padding: 0 5rem 0 1.5rem;
}

.content ul {
    flex: 1 0 75%;
    padding: 0 5rem 0 1.5rem;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.content ul li a {
    color: rgb(48, 48, 59);
}
.content div {
    flex: 1 0 75%;
    padding: 0 5rem 0 1.5rem;
}

/* Work Styling */
#larger-img {
    position: relative;
    margin-bottom: .5rem;
    border:rgb(48, 48, 59) solid .25rem;
    height: 23rem;
    width: 98.5%;
}

img:hover {
    opacity: .75;
}


/* h3 {
    position: relative;
    top: -4rem;
    left: .75rem;
    padding: 0 1rem 0 1rem;
    width: fit-content;
    line-height: 2;
    border: rgb(48, 48, 59) solid .2rem;
    border-left: none;
    background-color: rgb(96, 169, 211);
    color: rgb(48, 48, 59);   
} */

.project img {
    margin: .5rem;
    border:rgb(48, 48, 59) solid .25rem;
    height: 150px;
    width: 47.6%;
}

/* Media Queries */
@media screen and (max-width: 1150px) {
    .project img {
        width: 100%;
    }
}

@media screen and (max-width: 855px) {
    
    .header h1 {
        text-align: center;
        width: 100%;
    }

    .header nav {
        width: 100%;
        justify-content: space-evenly;
        padding: .5rem;
    }

    .header nav li {
        padding-right: 2rem;
    }
   
}

@media screen and (max-width: 800px) {
    .content {
        margin: 0;
    }
    .content h2 {
        flex: 1 0 100%;
        text-align: left;
        border-right:none;
        border-bottom: solid black;
        margin: 0;
        padding: 1rem 0 1rem 0;
    }

    .content p {
        padding: 1rem 5rem 0 1.5rem;
    }

    .content ul {
        padding: 1rem 3rem 1rem 0rem;
        font-size: 2rem;
    }

    .content ul li {
        width: 98%;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 550px) {
    
}